body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
header {
  font-family: 'Italiana'; src: url("D:\studia\studia sem. VI\RAIM\SpermVizz\app\static\Fonts");
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  z-index: 99;
}


.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 80px;
  margin-right: 20px;
}
.logo span {
  font-size: 3rem;
}
.logo .blue {
  color: #5f88dc;
}
.menu-icon {
  height: 48px;
  cursor: pointer;
  z-index: 1001;
  color: #5f88dc;
}
.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(16px);
  display: flex;
  justify-content: flex-end;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}
.menu-overlay.active {
  right: 0;
}
.menu-content {
  background-color: #8cabf4;
  width: 600px;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-content a {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  width: 100%;
  text-align: center;
}
.menu-close {
display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}
.main-box {
  margin: 4rem auto;
  max-width: 900px;
  padding: 4rem;
  background-color: #f4f4f4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.main-flex {
  flex-direction: row;
}

.main-text {
  font-size: 1.8rem;
  line-height: 1.6;
  flex: 1 1 60%;
  text-align: left;
  color: #2c2c2c;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex: 1 1 30%;
  align-items: center;
}


.main-box p {
  margin-bottom: 4rem;
  font-size: 2rem;
  line-height: 1.8;
}
.button {
  display: inline-block;
  margin: 1rem;
  padding: 1.6rem 3rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}
.add-video {
  background: linear-gradient(180deg, #a9c3f5, #7291ce);
  color: black;
}
.login {
  /* background-color:line  #f1d87c; */
  background: linear-gradient(180deg,#f1d87c, #b8a45c);

  color: #2c2c2c;
}
footer {
  padding: 4rem;
  text-align: left;
  font-size: 1.8rem;
  color: #666;
  height: 100vh;
}

/* LOGIN */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #f4f4f4;
}

/* .login-box {
  background-color: #dbe6ff;
  padding: 3rem 4rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  max-width: 400px;
} */

.login-box label {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

.login-box input {
  padding: 1rem;
  border: none;
  border-radius: 999px;
  background-color: #fdf2d8;
  font-size: 1.2rem;
  text-align: center;
}

/* REGISTER - DO POPRAWY!!! */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #f4f4f4;
}

/* .register-box {
  background-color: #dbe6ff;
  padding: 3rem 4rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  max-width: 400px;
} */

.register-box label {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

.register-box input {
  padding: 1rem;
  border: none;
  border-radius: 999px;
  background-color: #fdf2d8;
  font-size: 1.2rem;
  text-align: center;
}
.register-form {
  background-color: #dbe6ff;
  padding: 3rem 4rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  max-width: 400px;
}

button {
  padding: 0.5rem;
  border-color: rgb(0, 0, 0);
  border-radius: 999px;
  background-color: #f4f4f4;
  font-size: 1.2rem;
  text-align: center;
}

/* FLASH MESSAGES */

.flash-messages {
  color: rgb(49, 18, 39);
  font-weight: bold;
  list-style: none;
  padding: 10px;
}

#logout-button {
all: unset; /* wyczyść wszystkie style przeglądarki */
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  color: white;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-bottom: none;
  outline: none;
}
