<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpermVizz</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</head>
<body>
  <header>
    <div class="logo" href="index.html">
      <img src="{{ url_for('static', filename='IMG/sperm.png') }}" alt="Logo">
      <span>Sperm<span class="blue">Vizz</span></span>
    </div>
    <svg id="menuIcon" class="menu-icon" onclick="toggleMenu()" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="3" y1="12" x2="21" y2="12"/>
      <line x1="3" y1="6" x2="21" y2="6"/>
      <line x1="3" y1="18" x2="21" y2="18"/>
    </svg>
  </header>

  <div class="menu-overlay" id="menu">
    <div class="menu-content">
      <div class="menu-close" onclick="toggleMenu()">&times;</div>
      <a href="index.html">STRONA GŁÓWNA</a>
     
      {% if 'username' in session %}  
        <a>     
          <form id="logout-button-form" action="{{ url_for('logout') }}" method="POST">
<!-- <<<<<<< weronika
            <button id="logout-button" type="submit" href="{{url_for('logout') }}">
              WYLOGUJ
            </button>         
          </form>  
        </a>   
        <a href="wideo.html">MOJE KONTO</a>
======= -->
            <button id="logout-button" type="submit" href="{{url_for('logout') }}"> WYLOGUJ </button>         
          </form>  
        </a>   

      {% else %}
        <a href="register.html">ZAREJESTRUJ</a>
        <a href="logowanie.html">ZALOGUJ</a>
      {% endif %}        
      
      <a href="#">AUTORZY</a>
    </div>
  </div>

  <main class="main-box main-flex">
    <div class="main-text">
      Interaktywna strona internetowa do wizualizacji problemu segmentacji plemników w sekwencji wideo - segmentacja poprzez części. Wideo ISCI.
    </div>
    <div class="main-buttons">
      <a href="wideo.html" class="button add-video">DODAJ WIDEO</a>
      <a href="logowanie.html" class="button login">ZALOGUJ SIĘ</a>
    </div>
  </main>
  

  <footer>
    {% if 'username' in session %}
        <p>Hello {{ session['username'] }}</p>
        <form action="{{ url_for('logout') }}" method="POST">
          <button type="submit" href="{{url_for('logout') }}">LOG OUT</button>
        </form>    
    {% else %}
        <p>YOU'RE NOT LOGGED IN</p>
    {% endif %}
  </footer>

  <script>
    function toggleMenu() {
      const menu = document.getElementById('menu');
      const icon = document.getElementById('menuIcon');
      if (menu.classList.contains('active')) {
        menu.classList.remove('active');
        icon.style.display = 'block';
      } else {
        menu.classList.add('active');
        icon.style.display = 'none';
      }

    }
  </script>

</body>
</html>
